<!DOCTYPE html>
<html ng-app="quizApp">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Midburn 2016 Quiz</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="statics/content/style.css"/>

    <!-- SCRIPTS -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular/angular-resource.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="app.js"></script>

</head>

<body>

<div class="midburn-logo"></div>

<div class="container" ng-controller="quizInit" ng-init="Init()">
    <div class="row">

        <div id="intro" ng-controller="LangController">

            <div class="btn-group translate-buttons">
                <button class="btn-lang btn-en" ng-click="changeLanguage('en')">EN</button>
                <button class="btn-lang btn-he" ng-click="changeLanguage('he')">HE</button>
            </div>

            <div class="well game-intro">

                <div class="intro-wrapper">
                    <h1>{{ 'TITLE' | translate }}</h1>
                    <p>{{ 'DESC' | translate }}</p>
                </div>

                <a href="http://midburn.org/" target="_blank"><span>{{ 'INFO' | translate }}</span></a>

            </div>
        </div>
    </div>

    <!-- Quiz View -->
    <quiz/>

</div>

</body>
</html>