<!DOCTYPE html>

<html ng-app="quizApp">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Midburn 2016 Quiz</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="statics/content/style.css"/>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="config.js"></script>
    <script src="app.js"></script>
  </head>

  <body class="lanHE">
    <div class="midburn-logo"></div>
    <div class="container card" ng-controller="quizInit" ng-init="Init()">
      <div class="row">
        <div id="intro" ng-controller="LangController">

          <!-- Language support unavailable yet (You might help us workin it out :) ) -->
          <div class="btn-group translate-buttons hidden">
            <button class="btn-lang btn-en" ng-click="changeLanguage('en')">EN</button>
            <button class="btn-lang btn-he" ng-click="changeLanguage('he')">HE</button>
          </div>

          <div class="well game-intro">
            <div class="intro-wrapper">
                <h1>{{ 'TITLE' | translate }}</h1>
                <p>{{ 'DESC' | translate }}</p>
            </div>
            <a href="http://midburn.org/" target="_blank"><span>{{ 'INFO' | translate }}</span></a>
          </div>
        </div>
      </div>

      <!-- Quiz View -->
      <quiz></quiz>
    </div>
  </body>

</html>