<div class="helper-buttons flex-center">
    <style media="screen">
        .helper-buttons {
            justify-content: space-around;
            width: 75%;
            position: fixed;
            bottom: 0;
            background: #000;
        }

        .buttons>* {
            margin: 0 5px;
        }

        .answers-progress {
            color: #FFF;
        }

        .answers-progress>span {
            padding: 0 8px;
        }

        ul.answer-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: auto;
            display: inline-block;
        }

        .answer-list li:first-child {
            border-radius: 0 8px 8px 0;
        }

        .answer-list li:last-child {
            border-radius: 8px 0 0 8px;
        }

        .answer-feedback {
            display: inline-block;
            height: 18px;
            line-height: 18px;
            width: 60px;
            background: #445d7a;
            text-align: center;
            margin: 1px;
            vertical-align: middle;
        }

        .answer-feedback.achieved {
            background-image: url(../assets/buttons/Icon_V.png);
            background-color: #27c2d7;
            background-repeat: no-repeat;
            background-position: center;
        }

        .answer-feedback.in-progress {
          animation: bg-color-shift 2.5s linear infinite;
        }

        .Btn {
            cursor: pointer;
            border: 0;
            width: 50px;
            height: 50px;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
            background-position: center;
        }

        .Btn-skip {
            background-image: url(../assets/buttons/Btn_NextQ_Normal.png);
        }

        .Btn-skip:disabled {
            background-image: url(../assets/buttons/Btn_NextQ_Dis.png);
        }

        .Btn-hint {
            background-image: url(../assets/buttons/Btn_50_Normal.png);
        }

        .Btn-hint:disabled {
            background-image: url(../assets/buttons/Btn_50_Dis.png);
        }

        .icn-wheel {
            background: url(../assets/buttons/Icon_LifeWheel.png) no-repeat 100%;
            display: inline-block;
            width: 20px;
            height: 45px;
            background-size: contain;
        }

        /* Questions indicator animation */
        @keyframes bg-color-shift {
            0% {
                background: #27c2d7
            }
            50% {
                background: #445d7a
            }
            100% {
                background: #27c2d7
            }
        }

        /* Desktop view only */
        @media (min-width: 768px) {
            .Btn {
                width: 70px;
            }
            .Btn-skip {
                background-image: url(../assets/buttons/Btn_NextQ_Normal@2x.png);
            }
            .Btn-skip:disabled {
                background-image: url(../assets/buttons/Btn_NextQ_Dis@2x.png);
            }
            .Btn-hint {
                background-image: url(../assets/buttons/Btn_50_Normal@2x.png);
            }
            .Btn-hint:disabled {
                background-image: url(../assets/buttons/Btn_50_Dis@2x.png);
            }
            .answer-feedback {
                height: 26px;
                line-height: 26px;
                width: 60px;
            }
            .icn-wheel {
                background-image: url(../assets/buttons/Icon_LifeWheel@2x.png);
                width: 50px;
                background-size: contain;
            }
        }
    </style>
    <div class="buttons flex-center">
        <span class="icn-wheel"></span>
        <button class="Btn Btn-hint" ng-click="getHint()" ng-disabled="!answerMode || !checkCanGetHint()">
      </button>
        <button class="Btn Btn-skip" ng-click="skipQuestion()" ng-disabled="!answerMode || !checkCanSkipQuestion()">
      </button>
    </div>
    <div class="answers-progress">
        <span>תשובות נכונות</span>
        <ul class="answer-list">
            <li class="answer-feedback" ng-repeat="i in answersToCompleateCategory track by $index " ng-class="{ 'in-progress': i == 'in-progress', 'achieved': i == 'achieved'}">
                {{ i == 'achieved' ? '' : $index + 1 }}
            </li>
        </ul>
    </div>
</div>
