<div id="quiz-page" class="sixteen-nine">
  <div class="content">
    <div id="quiz-is-over-alert" class="modal" ng-show="passedQuiz">
      <div id="gameOverPopup" class="container">
        <h1>משחקי הברן</h1>
        <h2>כל הכבוד, אתם ברנרים אמיתיים!</h2>
        <div id="endGameButtons">
          <button id="goToTicketBtn" class="endGameButtonsProp" href="#" role="button"></button>
          <button id="playAgainBtn" class="endGameButtonsProp" href="#" role="button"></button>
        </div>
      </div>
    </div>

    <div id="change-viewport-alert" class="modal">
      <div id="rotateScreenPopup" class="container text-center">
        <h1>בקשה קטנה...</h1>
        <h2>נא לסובב את המסך לרוחב, תודה!</h2>
      </div>
    </div>

    <div ng-show="!quizOver" class="full-size">
      <div id="wrapper" class="full-size">
        <div class="full-size">
          <div class="categories-wrapper">
            <h1 class="category" ng-repeat="category in categories | reverse" ng-class="{'category-done': category.category_completed}">{{ category.name }}</h1>
          </div>
          <div class="quiz-zone">
            <div class="header">
              <div class="links inline">
                <a href="https://www.facebook.com/midburns/" target="_blank">
                  <img src="./assets/facebook.png" style="height: 30px;">
                </a>
                <a href="http://midburn.org/he-survival-guide/" target="_blank">
                  <img src="./assets/guid.png" style="height: 22px;">
                </a>
              </div>
              <div class="progress-area text-center inline">
                <span class="current-category" ng-bind="category">{{ category.name }}</span>
                <div class="answers-progress">
                  <span class="answer-feedback" ng-repeat="i in answersToCompleateCategory track by $index " ng-class="{ 'blink': i == 'in-progress', 'done': i == 'achieved'}"></span>
                </div>
              </div>
            </div>
            <div class="question-area">
              <h3 class="question"> {{ question }}</h3>
              <ul id="options" class="options list-no-bullets">
                <li ng-click="checkAnswer($event)" ng-repeat="option in options|orderBy:random">
                  <label class="answer-option-label">
                    <input type="radio" name="answer" ng-model="checked" value="{{option.id}}">
                    {{ $index+1 }}. {{option.body}}
                  </label>
                </li>
              </ul>
              <div>
                <div class="helper-buttons-area">

                  <!-- Helper buttons -->
                  <div id="life-line" class="flex-center">
                    <button id="btnHint" ng-click="getHint()" ng-show="answerMode" ng-disabled="!checkCanGetHint()">
                                        </button>
                    <button id="btnSkip" ng-click="skipQuestion()" ng-show="answerMode" ng-disabled="!checkCanSkipQuestion()">
                                        </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="quiz-correct-answer-alert" onclick="$('#quiz-correct-answer-alert').fadeOut();">
      <div class="container">
        <div class="clearfix">
          <div class="jumbotron">
            <h1>תשובה נכונה</h1>
            <div style="margin-top: 20px;">
              <p>
                <a class="btn game-btn" href="#" role="button" onclick="$('#quiz-correct-answer-alert').fadeOut();">סגור</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // Hide quiz is over
  $("#quiz-is-over-alert").toggle();

  // Hide quiz alert
  $('#quiz-no-answer-alert').toggle();

  // Hide correct answer alert
  $('#quiz-correct-answer-alert').toggle();
</script>
