<div id="quiz-page" class="sixteen-nine">
    <div class="content">
        <div id="quiz-is-over-alert" class="modal" ng-show="passedQuiz">
            <div id="gameOverPopup" class="container">
                <h1>משחקי הברן</h1>
                <h2>כל הכבוד! ניצחתם את משחקי הברן. נתראה בקרוב!</h2>
                <div id="endGameButtons">
                    <button id="goToTicketBtn" class="endGameButtonsProp" href="#" role="button" ng-click="goToTickets()"></button>
                    <button id="playAgainBtn" class="endGameButtonsProp" href="#" role="button" ng-click="resetGame()"></button>
                </div>
            </div>
        </div>
        <div ng-show="!quizOver" class="full-size">
            <div id="wrapper" class="full-size">
                <div class="full-size">
                    <div class="categories-wrapper">
                        <p id="startCover" ng-if="!gameStarted"></p>
                        <img id="theman-gif" src="" data-src="./assets/burning-man.gif" class="hidden" style="max-width:100%;z-index:-11;position:absolute;top:0;left:0;">
                        <h1 class="category-text" ng-class="{'cat0':category == categories[4],
                                'cat1':category == categories[3],
                                'cat2':category == categories[2],
                                'cat3':category == categories[1],
                                'cat4':category == categories[0],
                                'catFade':category.category_completed}" ng-repeat="category in categories | reverse">{{ categoryToHebrewName(category.name) }}</h1>
                    </div>
                    <div class="quiz-zone">
                        <div header></div>
                        <div class="question-area">
                            <div class="question"> {{ question}}</div>
                            <ul class="options" id="options">
                                <li class="list-group-item answer-option" ng-click="!IsClickEnable || checkAnswer($event)" ng-repeat="option in options|orderBy:random">
                                    <label class="answer-option-label" id="answer-option-label">
                                            <input type="radio" name="answer" ng-model="checked" value="{{option.id}}">
                                            {{ $index+1 }}. {{option.body}}
                                        </label>
                                </li>
                            </ul>
                        </div>
                        <div helper-buttons></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
