/* Midburn 2016 Abracadabra Quiz app - )'( let it burn! */

/* RESETS */
.row {
    margin-right: 5px;
    margin-left: 5px;
}

/* FONTS */

/* Google Lato - latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(fonts/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Alef */
@font-face {
    font-family: 'Alef-Bold';
    src: url('fonts/Alef-Bold.eot');
    src: url('fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Alef-Bold.woff') format('woff'), url('fonts/Alef-Bold.ttf') format('truetype'), url('fonts/Alef-Bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alef';
    src: url('fonts/Alef-Regular.eot');
    src: url('fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Alef-Regular.woff') format('woff'), url('fonts/Alef-Regular.ttf') format('truetype'), url('fonts/Alef-Regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Alef', 'Lato', sans-serif;
}

/* END FONTS */

body {
    margin: 10px auto;
    text-align: center;
    background: url(midburn-quiz-bg.png) no-repeat;
    background-size: cover;
}

.lanEN {
    direction: ltr !important;
}

.lanHE {
    direction: rtl !important;
}

#options {
    margin: 20px 0;
}

.next-question {
    margin-right: 10px;

}

#score {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.midburn-logo {
    display: block;
    height: 121px;
    width: 100%;
    opacity: 0.9;
    margin: 60px auto 29px;
    background: url(logo.png) no-repeat center;
}

.link-special {
    color: #c9302c;
}

/* Intro */
#intro {
    position: relative;
}

.game-intro {
    color: #fff;
    background-color: #192D3A;
}

.intro-wrapper {
    margin: 40px 0 0;
}

/* Quizz */
.quiz-area {
    direction: rtl !important;
    margin: 40px auto;
}
.list-group-item {
    margin-bottom: 2px;
}
.quiz-button-wrapper {
/*     margin: 40px auto; */
}

.category-pagination {
    z-index: 0;
}

.card {
    max-width: 100%;
    max-height: 100%;
    margin: 2% auto;
}

.correct {
    background: greenyellow;
    border-style: solid;
    border-width: thin;
    border-color: #A2A2A2;
}

.wrong {
    background: lightcoral;
    border-style: solid;
    border-width: thin;
    border-color: #A2A2A2;
}

.disabled-option {
    pointer-events: none;
    background-size: 16px 16px;
    background-image: linear-gradient(-45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
}

.question-number {
    display: inline-block;
    background: #3799EC;
    color: #FFF;
    height: 40px;
    min-width: 40px;
    max-width: 150px;
    overflow: hidden;
    width: auto;
    padding: 0 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 38px;
}

/* Answers */
.answer-option {
    min-height: 120px;
    max-height: 100%;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: all 0.2s;
    border: 0;
    cursor: pointer;
    text-align: right;
    padding: 0;
}

.answer-option-label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 15px 8px;
    border: 3px solid transparent;
    margin: 0;
    pointer-events: none;
}

.answer-option-label input {
    display: none;
}

.answer-option:hover {
    background: #66b1f0;
}

.answer-option.selected {
    background: #3799EC;
    color: white;
}

/* Buttons */
.translate-buttons {
    width: 100%;
    direction: ltr !important;
    position: absolute;
    top: 10px;
    left: 0;
}

.game-btn {
    display: inline-block;
    padding: 1rem 3rem;
    color: #3799EC;
    font-size: 1.7rem;
    font-weight: 600;
    background: #fff;
    border: 1px solid #3799EC;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 1rem;
}

.game-btn:hover {
    background: #3799EC;
    color: #FFF;
}

.btn-lang {
    display: inline-block;
    width: 70px;
    height: 30px;
    border: 1px solid #FFFFFF;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    text-indent: 26px;
    margin: 8px;
    font-weight: bold;
}

.btn-en {
    background-image: url(en.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40%;
}

.btn-he {
    background-image: url(he.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40%;
}

/* Footer */

footer {
    color: #fff;
}

footer .links {
    text-align: right;
    list-style-type: none;
    direction: ltr !important;
}

footer .links li {
    position: relative;
    display: inline-block;
    padding: 0 8px;
}

footer .links li:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    right: 0;
}

footer .logo {
    background: url(Logo_Abra_Eng1.png) no-repeat top left;
    background-size: 30px;
    height: 50px;
    padding-left: 45px;
    direction: ltr !important;
    text-align: left;
}

/* Footer */

/* Responsive fix */
@media screen and (min-width: 960px) {
    .answer-option {
        float: right;
    }
}

/* END ~ Responsive fix */

/* Quiz is over page */
.fade-screen {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    padding-top: 16%;
}
.categories-side-bar li{
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
    -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
    -ms-transform: rotate(-90.0deg);  /* IE9+ */
    -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);  /* Safari 3.1+, Chrome */
    transform: rotate(-90.0deg);
    border-color: #0f0f0f;

    /*margin-bottom: 0em;*/
    /*margin-top: 0px;*/
    /*margin-right: 0em;*/
    /*margin-left: 0em;*/

    /*padding-right: 0em;*/
    /*padding-bottom: 0em;*/
    /*padding-left: 0em;*/
    /*padding-top: 0em;*/



    display: block;
}
.categories-side-bar ul li{
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: 1em;
    height: 4em;
    width: 0em;
}
[class^="col-lg-2 col-md-2 col-sm-2 col-xs-2"] { background-color: rgba(255, 0, 0, 0.3); }


/* END - Quiz is over page */